<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div>
    <a href="/people/new">Add new person</a>
</div>



<div th:each="person : ${people}">
    <a th:href="@{people/{id}(id=${person.getId()})}" th:text="${person.getName()}"></a>
</div>

<table border="1">
    <caption>Person table</caption>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Show</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <div th:each="person : ${people}">
        <tr>
            <td th:text="${person.getId()}">Id</td>
            <td th:text="${person.getName()}">Name</td>
            <td th:text="${person.getSurname()}">Surname</td>
            <td><form th:method="get" th:action="@{/people/{id}(id=${person.getId()})}">
                <input type="submit" value="Show">
            </form></td>
            <td><form th:method="get" th:action="@{/people/{id}/edit(id=${person.getId()})}">
                <input type="submit" value="Edit">
            </form></td>
            <td><form th:method="delete" th:action="@{/people/{id}(id=${person.getId()})}">
                <input type="submit" value="Delete">
            </form></td>
        </tr>
    </div>
</table>

</body>
</html>